In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
from collections import OrderedDict
import matplotlib.pyplot as plt
import math
from IPython.display import display, HTML
from scipy.interpolate import interp1d

In [2]:
trace_df = pd.read_csv('generated_trace.txt', header=None ,sep = ' ')
trace_df.head()

    0  1   2
0   7  0  47
1  29  0  47
2  51  0  47
3  73  0  47
4  95  0  47

In [3]:
trace_df.columns = ["time_stamp","fid","size"]
trace_df.sort_values("time_stamp",inplace=True)
trace_df.head()

       time_stamp     fid  size
14052           0  279000     9
14802           1  295000    30
4952            3   93000    33
9723            4  185000    38
2833            5   55000    14

In [4]:
trace_df.to_csv('parsed_trace.csv', index = False)